<div class="row">
  <div class="col s12 center">
    <h2>About Chess Camp</h2>
    <p>Our camps are dedicated to chess in order to attract students interested in playing chess with others etc...</p>
  </div>
</div>