<div class="row">
    <div class="col s12 center">
    <h2 id="headline">Welcome to the Chess Camp Website!</h2>
    <p>From here, as the administrator, you can modifiy the chess camp database by clicking on the respective links on the sidebar.</p>
  </div>
</div>