<!--<footer class="page-footer">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
      <!--<= link_to 'Home', home_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;-->
      <%= link_to 'About the Chess Camp', about_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Contact Us', contact_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Privacy Policy', privacy_path, :class => "grey-text text-lighten-3" %>
      
    <!--<a href="https://rails-aamannai.c9users.io/home/about" class="w3-bar-item w3-button w3-hover-white">About the Chess Camp</a> -->
    <!--<a href="https://rails-aamannai.c9users.io/home/contact" class="w3-bar-item w3-button w3-hover-white">Contact Us</a> -->
    <!--<a href="https://rails-aamannai.c9users.io/home/privacy" class="w3-bar-item w3-button w3-hover-white">Privacy Policy</a>     -->
<!--      <br /><br />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="footer-copyright">-->
<!--    <div class="container">-->
<!--    Webmaster: aamannai -->
<!--    &nbsp;&nbsp;&copy 2018-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->